$bg-primary: #5161ce;
$bg-secondary: white;

$text-primary:#5161ce;
$text-secondary:white;

$color_1:#5161ce;
$color_2: black;
$color_3: white;

$background-color_1: white;
$background-color_2: #5161ce;
$background-color_3: #1C1F25;
$background-color_4: rgba(170, 169, 169, 0.333);


@import 'normalize';
@import 'global';
@import 'typography';
@import 'modules';
@import 'layout';