$bg-primary: #5161ce;
$bg-secondary: white;

$text-primary:#5161ce;
$text-secondary:white;


@import url('https://fonts.googleapis.com/css?family=Roboto');



//---- global-----
body{
	font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.primary-text{
    color: $text-primary;
    font-weight: 1000;
}

/*----------bootstrap-navbar-css------------*/

.navbar-mainbg{
	background-color: $bg-primary;
	padding: 0px;

    

    .navbar-logo{
        padding: 15px;
        color: #fff;
    }

    #navbarSupportedContent{
        overflow: hidden;
        position: relative;

        
    
        ul{
            padding: 0px;
            margin: 0px;
    
            li a i{
                margin-right: 10px;
            }
    
            li a{
                color: rgba(255,255,255,0.5);
                text-decoration: none;
                font-size: 15px;
                display: block;
                padding: 20px 20px;
                transition-duration:0.6s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                position: relative;
            }
    
        }
    
        li{
            list-style-type: none;
            float: left;
        }
    
        & > ul>li.active>a { 
            color: $bg-primary;
            background-color: transparent;
            transition: all 0.7s;
        }
    
        a:not(:only-child):after {
            content: "\f105";
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 14px;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
            transition: 0.5s;
        }
    
        .active>a:not(:only-child):after {
            transform: rotate(90deg);
        }
    
    }
    
}





.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: $bg-secondary;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;

    .right, .left{
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: $bg-secondary;
        bottom: 10px;
        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $bg-primary;
        }
    }

    .right{
        right: -25px;
        
        &::before{
            bottom: 0;
            right: -25px;
        }
    }

    .left{
        left: -25px;

        &::before{
            bottom: 0;
            left: -25px;
        }
    }
}



@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;

        .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .navbar-toggler {
            display: none;
        }

        .navbar-collapse {
            display: -ms-flexbox!important;
            display: flex!important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;

        .left, .right{
            right: 10px;
        }

        .left{
            top: -25px;
		    left: auto;
            &::before{
                left: -25px;
		        top: -25px;
            }
        }

        .right{
            bottom: -25px;
            &::before{
                bottom: -25px;
		        left: -25px;
            }
        }
	}
}

.carousel-inner img{
    object-fit: cover;
    height: 600px;
}

//----------------------------------------- Product Gallery
//--------- Filter ------
#search-container {
    margin: 1em 0;

    input{
        background-color: transparent;
        border: none;
        width: 40%;
        border-bottom: 2px solid #110f29;
        padding: 1em 0.3em;

        &:focus{
            border-bottom-color: $bg-primary;
        }
    }

    button{
        padding: 1em 2em;
        margin-left: 1em;
        background-color: $bg-primary;
        color: #ffffff;
        border-radius: 5px;
        margin-top: 0.5em;
        transition: .5s;
        
        &:hover{ 
            background-color: $bg-secondary;
            color: $bg-primary;
        }
    }
}

.button-value {
    border: 2px solid $bg-primary;
    padding: 1em 2.2em;
    margin: 0 10px;
    border-radius: 3em;
    background-color: transparent;
    color: $text-primary;
    cursor: pointer;
    transition: 0.5s;

    &:hover{ 
        background-color: $bg-primary;
        color: $bg-secondary;
    }
}


//---------- product Gallary
.img-container{
    position: relative;

    .image{
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .overlay{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &:hover .image{
        opacity: 0.2;
    }

    &:hover .overlay{
        opacity: 1;
    }

    .btn-sm{
        &:hover{
            background-color: $bg-primary;
        }
    }
}



// ---------------------------Footer--------------------------
footer {
    background-color: black;
    color: #fff;
    font-size: 17px;
    line-height: 26px;
    padding-top: 3rem;

    a{
        color: $text-secondary;
    }

    p{
        color: $text-secondary;
    }

    h3{
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    hr {
        width: 100%;
        height: .5px;
        background-color: rgba(128, 128, 128, 0.2);
    }

    .first__footer__container {
        padding: 48px 0;
        margin-bottom: 55px;
    }

    .Diner__footer {
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
    }

    .second__footer__container {
        padding: 0.2em 0;
    }

    .contact_item{
        i {
            width: 36px;
            height: 36px;
            margin-right: 10px;
            border-radius: 6px;
            background-color: #fff;
            color: $bg-primary;
            line-height: 36px;
            text-align: center;
            transition: all .5s;

            &:hover{
                color: $text-secondary;
                background-color: $bg-primary
            }
        }
    }

    .detail_option{
        a {
            margin-bottom: 10px;
            text-decoration: none;

            &:hover{
                color: $text-primary;
            }
        }
        
    }

    .col__between .detail_option {
        display: flex;
        flex-direction: column;
    }


    .box_contact{
        input {
            width: 100%;
            padding: 14px 20px;
            font-size: 18px;
            line-height: 28px;
            outline: none;
            background-color: #fff;
            color: #c2d0da;
            border-radius: 6px;
            border: 1px solid transparent;
            &:focus{
                border-color: $bg-primary;
            }
        }

        button {
            width: 100%;
            padding: 14px 0;
            text-align: center;
            border-radius: 6px;
            background-color: $bg-primary;
            color: white;
            font-size: 16px;
            font-weight: 700;
            margin-top: 16px;
            transition: all .5s;

            &:hover{
                opacity: .8;
            }

            &:focus{
                border: 1px solid white;
            }
        }
    }

    .footer__sub {
        .detail_option{
            text-align: center;
        }

        span a {
            color: $text-primary;
            text-decoration: none;
            &:hover{
                color: #c2d0da;
            }
        }
    }
    
}





//---------------------------------Shopping cart 



  
$color_1:#5161ce;
$color_2: black;
$color_3: white;
$background-color_1: white;
$background-color_2: #5161ce;
$background-color_3: #1C1F25;
$background-color_4: #fff5;

.shopcard {
	position: fixed;
	top: 0;
	left: 100%;
	width: 500px;
	background-color: $background-color_1;
	height: 100vh;
	transition: 0.5s;
    z-index: 99;

	h1 {
		color: $color_1;
		font-weight: 100;
		margin: 0;
		padding: 0 20px;
		height: 80px;
		display: flex;
		align-items: center;
	}
	.checkOut {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		div {
			background-color: $background-color_2;
			width: 100%;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			cursor: pointer;
			&:nth-child(2) {
				background-color: $background-color_3;
				color: $color_3;
			}
		}
	}
}

.actived {
	.shopcard {
		left: calc(100% - 500px);
	}
}


.listCard {
	li {
		display: grid;
		grid-template-columns: 100px repeat(3, 1fr);
		color: $color_2;
		row-gap: 10px;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			width: 90%;
		}

		button {
			background-color: #fff5;
			border: none;
		}
	}
	.count {
		margin: 0 10px;
	}
}
